<% include ./start.html %>
<div class="header">
   <a href="/" class="logo">
      <span class="<%= icons.logo %>"></span>
      <span><%= logo %></span>
   </a>
   <form class="search-form" action="/search/" method="get">
      <div class="fa <%= icons.search %>"></div>
      <input type="input" class="input google-search" name="q" placeholder="Where do you want to eat?" value="<%= search %>"/>
   </form>
   <% if(user) { %>
      <div class="user">
         <div class="profile">
            <img src="<%= user.profile_image %>"/>
         </div>
         <a href="/account/" class="name"><%= user.name %></a>
         <a href="/logout/">Logout</a>
      </div>
   <% } else { %>
      <a href="/twitter/" class="authorize">Authorize with Twitter</a>
   <% } %>
</div>
