<% include ../includes/header.html %>
<div class="search">
   <div class="map"></div>
   <div class="coupons">
      <% $.each(coupons, function(key, coupon) { %>
         <a href="/purchase/<%= coupon.pub_id %>/" class="item"
            style="background-image:url('<%= coupon.image %>')"
            data-lat="<%= coupon.company.latitude %>"
            data-lng="<%= coupon.company.longitude %>"
         >
            <div class="darkener"></div>
            <div class="purchase">Purchase</div>
            <div class="information">
               <div class="general left">
                  <div class="meal"><%= coupon.name %></div>
                  <div class="company"><%= coupon.company.name %></div>
               </div>
               <div class="specific right">
                  <div class="pricing">
                     <div class="price-new">$<%= (coupon.price - (coupon.price * coupon.discount)).toFixed(0) %></div>
                     <div class="price-old">$<%= coupon.price.toFixed(0) %></div>
                  </div>
                  <div class="distance">...</div>
               </div>
            </div>
         </a>
      <% }) %>
   </div>
</div>
<% include ../includes/end.html %>
