<% include ../includes/start.html %>
<div class="hero">
   <div class="darkener"></div>
      <div class="header">
      <div class="logo">
         <span class="<%= icons.logo %>"></span>
         <span><%= logo %></span>
      </div>
      <% if(user) { %>
         <div class="user">
            <div class="profile">
               <img src="<%= user.profile_image %>"/>
            </div>
            <a href="/account/" class="name"><%= user.name %></a>
            <a href="/logout/">Logout</a>
         </div>
      <% } else { %>
         <a href="/twitter/" class="authorize">Authorize with Twitter</a>
      <% } %>
   </div>
   <div class="main-info">
      <div class="message">Hungry?</div>
      <div class="submessage">Find affordable grub in your neighborhood</div>
      <form class="search-form" action="/search/" method="get">
         <input type="input" class="input google-search" name="q" placeholder="Where do you want to eat?"/>
         <input type="submit" class="button" value="Search"/>
      </form>
   </div>
</div>
<div class="discover">
   <div class="header">Find Your Appetite</div>
   <div class="subheader">The best deals close to you.</div>
   <div class="grid">
      <% $.each(coupons, function(key, coupon) {
         var className = "item";

         if([1,5].indexOf(key) !== -1) {
            className += " large"
         }
      %>
         <a href="/purchase/<%= coupon.pub_id %>"
            class="<%= className %>"
            style="background-image:url('<%= coupon.image %>')"
         >
            <div class="darkener"></div>
            <div class="information">
               <div class="meal"><%= coupon.meal %></div>
               <div class="company"><%= coupon.company %></div>
               <div class="distance"><%= coupon.distance %>...</div>
            </div>
            <div class="pricing">
               <div class="price-old">$<%= coupon.price.toFixed(2) %></div>
               <div class="price-new">$<%= (coupon.price - (coupon.price * coupon.discount)).toFixed(2) %></div>
            </div>
         </a>
      <% }) %>
   </div>
</div>
<% include ../includes/footer.html %>
