<% include ../includes/header.html %>
<div class="information">
   <div class="header">Thank You For Choosing Dintopia</div>
   <div class="subheader">
      You saved <%= voucher.discount * 100 %>% on this deal!
   </div>
   <div class="voucher">
      <div class="logo">
         <span class="<%= icons.logo %>"></span>
         <span><%= logo %></span>
      </div>
      <div class="instructions">
         <div class="left">
            Please give this voucher to the restaurant when entering. Thanks!
            <br><br>
            <strong>Address</strong><br>
            <%= voucher.company %><br>
            <%=: voucher.location.street %><br>
            <%=: voucher.location.city %>, <%=: voucher.location.state %>, <%=: voucher.location.zip %>
         </div>
         <img class="right"
              src="http://www.barcodelink.net/barcode.php?url=<%= host + "/voucher/redeem/" + voucher.pub_id + "/" + user.pub_id %>&size=600"/>
      </div>
   </div>
</div>
<% include ../includes/end.html %>
